form.form
    .form__title.
        Задать вопрос

    .form__input
        input#name.form__input-elem(
            name='name'
            type='text'
            placeholder='Фамилия Имя Отчество *'
        )

    .form__input
        input#phone.form__input-elem(
            name='phone'
            type='text'
            placeholder='Телефон *'
        )

    .form__input
        input#email.form__input-elem(
            name='email'
            type='text'
            placeholder='Email'
        )

    button.form__btn(type='submit').
        Отправить запрос