head
    meta(charset = 'utf-8')
    meta(
        name='viewport'
        content='initial-scale=1.0, width=device-width'
    )
    link(
        rel='icon'
        href='favicon.png'
    )
    link(src='./css/style.css')
    title Задать вопрос